body{
  font-family:  "ＭＳ ゴシック",sans-serif;
  position: relative;
}

header {
  width: 100vw;
  overflow: hidden;
}

.site-header{
    background: #fff;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 4;
    width: 100%;
    /* height: 70px; */
    vertical-align: middle;
}

.gnav{
  width: 95%;
  height: 100%;
  margin: 0.5em auto;
}

.site-logo{
    height: 15%;
    width: auto;
    margin: auto;
    margin-left: 0;
    /* margin-top: 15px; */
}

.gnav__menu{
    display: flex;
    align-items: center;
}

.gnav__menu__item{
    /* width: 10%; */
    height: auto;
    /* margin-top: 35px; */
    margin-left: 4em;
  }

.gnav__menu__item a{
    padding: 1em 0;
    color: #333;
    text-decoration: none;
}

.gnav__menu__item__call{
  height: auto;
  /* margin-top: 15px; */
}

.space{
  height: 100%;
}

#sp-nav-modal {
  display: none;
}

#gloval-nav {
  background: #000;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* bottom: 0; */
  z-index: 990;
  text-align: center;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 29px;
  opacity: 0;
  transition: opacity .6s ease, visibility .6s ease;
}
.open #gloval-nav {
  visibility: visible;
  opacity: 1;
}

.bg-thin-grey {
  z-index: 2;
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
}
#sp-nav-new {
  display: none;
}

@media screen and (max-width:960px){
  .bg-thin-grey {
    background-color: rgba(241, 241, 241, 0.7)
  }

  #sp-nav-new.open {
    transform: translateX(0);
    transition: all .3s ease-in-out .6s;
  }

  #sp-nav-new {
    display: block;
    position: fixed;
    height: 100vh;
    width: 90vw;
    top: 0;
    right: 0;
    background-color: #fff;
    transform: translateX(90vw);
    transition: all .5s ease-in-out 0s;
    z-index: 5;
  }

  .close-btn {
    padding: 20px;
  }

  .sp-list {
    background: #f1f1f1;
    height: 100vh;
  }

  .sp-list li {
    border-bottom: 1px solid #dbdbdb;
    font-size: 16px;
    line-height: 50px;
  }

  .sp-list a {
    text-decoration: none;
    padding-left: 30px;
    color: inherit;
  }

  .gnav__menu__item {
    display: none;
  }

	.nav_toggle{
		display: block;
  }
  
	.nav_toggle div {
    position: absolute;
  }
  
	.nav_toggle span{
		display: block;
		height: 4px;
		background: black;
    position:absolute;
		width: 30px;
    right: 1em;
    -webkit-transition: 0.5s ease-in-out;
		-moz-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  
	.nav_toggle span:nth-child(1){
    top:23px;
  }
  
	.nav_toggle span:nth-child(2){
    top:36px;
	}
	.nav_toggle span:nth-child(3){
    top:49px;
	}
}

@media screen and (min-width:960px){
  .eyecatch{
    background-image: url("../img/eyecatch.png");
    background-position: 50% 50%;
    /* background-repeat: no-repeat; */
    background-size: cover;
    height: 698px;
    width: 100%;
    margin-bottom: 100px;
  }

  .eyecatch > h1{
    font-size: 50px;
    color: #1D9000;
    text-align: center;
    padding-top: 350px;
    font-family: "ＭＳ 明朝",serif;
    text-shadow: 5px 5px 10px rgba(0,0,0,0.16);
  }
}

@media screen and (max-width:960px){
  .eyecatch{
    background-image: url("../img/eyecatch.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    margin-bottom: 100px;
  }

  .eyecatch > h1{
    /* font-size: 45px; */
    font-size: 6vw;
    color: #1D9000;
    text-align: center;
    padding-top: 200px;
    font-family: "ＭＳ 明朝",serif;
    text-shadow: 5px 5px 10px rgba(0,0,0,0.16);
  }
}

.page{
  text-align: center;
  padding-bottom: 100px;
}

.page > h1{
  margin-left: 1px;
  font-size: 28px;
  padding-bottom: 8px;
  font-family: Microsoft New Tai Lue;
  letter-spacing:  0.2em;
}

.border{
  width: 45px;
  border-bottom: 1px solid rgba(70,70,70,0.3);
  margin-left: auto;
  margin-right: auto;
}

.page > h2{
  margin-left: 1px;
  font-size: 25px;
  padding-top: 52px;
  font-family: "Yu Mincho", "YuMincho";
  letter-spacing:  0.2em;
}

.page > p{
  font-size: 16px;
  padding-top: 50px;
  line-height: 30px;
  letter-spacing:  0.2em;
}

.more-btn {
  margin-top: 50px;
  width:250px;
  height: 56px;
  line-height: 56px;
  font-size:20px;
  text-decoration:none;
  display:block;
  text-align:center;
  font-family: Microsoft New Tai Lue;
  color:#333;
  border:1px solid rgba(70,70,70,0.3);
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  transition: all .5s ease-in-out 0s;
}

.more-btn:hover {
  color: white;
  background-color: #000;
  transition: all .7s ease-in-out 0s;
}

/* button > a{
  text-decoration:none;
  color: #333;
  font-family: Microsoft New Tai Lue;
  letter-spacing:  0.2em;
} */

@media screen and (min-width:960px){
  .box {
    width: 100%;
  }

  .boxContainer {
    display: flex;
    margin-top: 18.5px;
    justify-content: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .boxContainer h3{
    font-size: 20px;
  }

  .topbox{
    padding-top: 50px;
    padding-bottom: 50px;
    border-right: 1px solid rgba(70,70,70,0.3);
  }

  .topbox img{
    margin-bottom: 70px;
  }

  .smallbox.middle {
    border-right: 1px solid rgba(70,70,70,0.3);
  }

  .smallbox{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .smallbox img{
    margin-bottom: 70px;
  }
}

@media screen and (max-width:960px){
  .boxContainer {
    margin-top: 18.5px;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
  }

  .boxContainer h3{
    font-size: 20px;
  }

  .topbox{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .topbox img{
    margin-bottom: 70px;
    height: 200px;
    width: auto;
  }

  .smallbox{
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px solid rgba(70,70,70,0.3)
  }

  .smallbox img{
    margin-bottom: 70px;
    height: 200px;
    width: auto;
  }
}

.performance{
  background-image: url("../img/lux.png");
  background-position: 50% 50%;
  background-size: cover;
  margin-bottom: 100px;
}

.performance h1{
  padding-top: 100px;
}

.performance button{
  margin-top: 124px;
}

@media screen and (min-width:960px){

  footer{
    /* height: 300px; */
    background-color: #E3E3E3;
  }

  nav{
    list-style: none;
    overflow: hidden;
  }

  .footer__box{
    display: flex;
    justify-content: center;
    width: 85%;
    margin: 0 auto;
  }

  .footer__logo img{
    height: 50px;
    width: auto;
    margin-top: 50px;
  }

  .footer__address{
    margin-top: 20px;
    font-size: 16px;
    line-height: 30px;
  }

  .footer__box > .footer__list{
    width: 30%;
  }

  .footer__box > .footer__menu{
    width: 20%;
  }

  .footer__list__menu{
    margin-top: 50px;
  }


  .footer__list__menu a{
    color: #333;
    text-decoration: none;
  }

  .footer__twitter{
    margin-top: 25px;
    float: right;
  }

  .copyright p{
    text-align: center;
    margin-top: 50px;
  }

}

@media screen and (max-width:960px){
  footer{
    /* height: 300px; */
    background-color: #E3E3E3;
  }

  nav{
    list-style: none;
    overflow: hidden;
  }

  .footer__box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
  }

  .footer__logo img{
    /* height: 50px; */
    /* width: 50%; */
    /* padding: auto; */
    /* margin: 50px auto 0; */
    /* margin-top: 50px; */
  }

  .footer__address{
    display: none;
  }

  .footer__box > .footer__list{
    /* width: 40%; */
    width: 260px;
    height: 50px;
    margin: 50px auto 0;
    /* width: 100%; */
  }

  .footer__box > .footer__menu{
    /* width: 25%; */
    /* display: flex; */
    width: 80%;
    margin-left: 10vw;
    /* margin: auto; */
    /* display: inline-block; */
  }

  .footer__list__menu{
    /* margin-top: 50px; */
    margin-top: 1em;
    /* margin-left: 2em; */
  }


  .footer__list__menu a{
    color: #333;
    text-decoration: none;
  }

  .footer__twitter{
    /* margin-top: 25px;
    float: right; */
    display: none;
  }

  .copyright p{
    text-align: center;
    margin-top: 50px;
  }

}

.titleborder{
  width: 99px;
  border-bottom: 3px solid #000000;
  margin-left: auto;
  margin-right: auto;
}

.title{
  text-align: center;
  padding-top: 157.5px;
  margin-bottom: 58px;
}

.title > h1{
  font-size: 45px;
  margin-left: 1px;
  padding-top: 20.5px;
  padding-bottom: 20px;
  font-family: Microsoft New Tai Lue;
  letter-spacing:  0.2em;
}

.title > h2{
  margin-left: 1px;
  font-size: 25px;
  font-family: "Yu Mincho", "YuMincho";
  letter-spacing:  0.2em;
}

@media screen and (min-width:960px){
  .service__img{
    background-image: url("../img/about.png");
    height: 350px;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
  }
}

@media screen and (max-width:960px){
  .service__img{
    background-image: url("../img/about.png");
    height: 250px;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
  }
}

@media screen and (min-width:960px){
  .service__menu{
    width: 77%;
    height: 80px;
    margin-top: -22px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-bottom: 1px solid rgba(70,70,70,0.3);
    margin-bottom: 40px;
  }
}

@media screen and (max-width:960px){
  .service__menu{
    width: 84%;
    height: 80px;
    margin-top: -22px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-bottom: 1px solid rgba(70,70,70,0.3);
    margin-bottom: 40px;
  }
}

.anav {
  list-style: none;
  display: flex;
}

.anav li {
  width: 33%;
  text-align: center;
  margin-top: 29px;
  letter-spacing:  0.2em;
}

.anav li a {
  text-decoration: none;
  color: #333;
}

@media screen and (min-width:960px){
  .renovation__img{
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/renovation.png");
    height: 400px;
    width: 84%;
    background-size: cover;
    background-position: 50% 50%;
  }
}

@media screen and (max-width:960px){
  .renovation__img{
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/renovation.png");
    height: 300px;
    width: 84%;
    background-size: cover;
    background-position: 50% 50%;
 }
}

.service__page{
  margin-top: -88px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  width: 77%;
  padding-bottom: 100px;
  background-color: #fff;
  border-bottom: 1px solid rgba(70,70,70,0.3);
}

.service__page > h1{
  text-align: center;
  margin-left: 1px;
  padding-top: 65px;
  font-size: 35px;
  padding-bottom: 8px;
  font-family: Microsoft New Tai Lue;
  letter-spacing:  0.2em;
}

.service__page > h2{
  text-align: center;
  margin-left: 1px;
  font-size: 25px;
  padding-top: 52px;
  font-family: "Yu Mincho", "YuMincho";
  letter-spacing:  0.2em;
}

.service__page > h3{
  text-align: center;
  margin-left: 1px;
  font-size: 20px;
  padding-top: 50px;
  letter-spacing:  0.2em;
}

@media screen and (min-width:1100px){
  .service__page > p{
    text-align: center;
    font-size: 16px;
    padding-top: 50px;
    line-height: 30px;
    letter-spacing:  0.2em;
  }
}

@media screen and (max-width:1100px){
  .service__page > p{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    padding-top: 50px;
    line-height: 30px;
    letter-spacing:  0.2em;
    width: 65%;
  }
}


.bnav {
  list-style: none;
  display: flex;
}

@media screen and (min-width:1150px){
  .bnav li {
    width: 20%;
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing:  0.2em;
    border-bottom: 1px solid rgba(70,70,70,0.3);
    padding-bottom: 5px;
  }

  .bnav .bnav__menu{
    border-bottom: none;
  }
}

@media screen and (min-width:960px) and (max-width:1150px){
  .bnav li {
    width: 25%;
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing:  0.2em;
    border-bottom: 1px solid rgba(70,70,70,0.3);
    padding-bottom: 5px;
  }

  .bnav .bnav__menu{
    border-bottom: none;
  }
}

@media screen and (max-width:960px){
  .bnav li {
    width: 30%;
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing:  0.2em;
    border-bottom: 1px solid rgba(70,70,70,0.3);
    padding-bottom: 5px;
  }

  .bnav .bnav__menu{
    border-bottom: none;
  }
}


@media screen and (min-width:960px){
  .support__img{
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/support.png");
    height: 400px;
    width: 84%;
    background-size: cover;
    background-position: 50% 50%;
  }
}

@media screen and (max-width:960px){
  .support__img{
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/support.png");
    height: 300px;
    width: 84%;
    background-size: cover;
    background-position: 50% 50%;
  }
}

@media screen and (min-width:960px){
  .inspection__img{
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/inspection.png");
    height: 400px;
    width: 84%;
    background-size: cover;
    background-position: 50% 50%;
  }
}

@media screen and (max-width:960px){
  .inspection__img{
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/inspection.png");
    height: 300px;
    width: 84%;
    background-size: cover;
    background-position: 50% 50%;
  }
}

@media screen and (min-width:1150px){
  .service__page > h4{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 5px;
    line-height: 30px;
    letter-spacing:  0.2em;
    border-bottom: 1px solid rgba(70,70,70,0.3);
    font-family: "Yu Mincho", "YuMincho";
  }
}

@media screen and (max-width:1150px){
  .service__page > h4{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 5px;
    line-height: 30px;
    letter-spacing:  0.2em;
    border-bottom: 1px solid rgba(70,70,70,0.3);
    font-family: "Yu Mincho", "YuMincho";
  }
}

@media screen and (min-width:960px){
  .performance__img{
    background-image: url("../img/performance.png");
    height: 350px;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
  }
}

@media screen and (max-width:960px){
  .performance__img{
    background-image: url("../img/performance.png");
    height: 250px;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
  }
}

.performance__page{
  margin-top: -43px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  width: 77%;
  padding-bottom: 100px;
  background-color: #fff;
  border-bottom: 1px solid rgba(70,70,70,0.3);
}

.performance__page > h1{
  margin-left: 50px;
  padding-top: 65px;
  font-size: 35px;
  padding-bottom: 8px;
  font-family: Microsoft New Tai Lue;
  letter-spacing:  0.2em;
}

.performance__border{
  margin-left: 50px;
  width: 45px;
  border-bottom: 1px solid rgba(70,70,70,0.3);
}

@media screen and (min-width:960px){
  .recruit__img{
    background-image: url("../img/recruit.png");
    height: 350px;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
  }
}

@media screen and (max-width:960px){
  .recruit__img{
    background-image: url("../img/recruit.png");
    height: 250px;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
  }
}

.about__page{
  margin-top: -43px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  width: 77%;
  background-color: #fff;
}

.about__page > h1{
  text-align: center;
  margin-left: 1px;
  padding-top: 65px;
  font-size: 35px;
  padding-bottom: 8px;
  font-family: Microsoft New Tai Lue;
  letter-spacing:  0.2em;
}

.about__page > h2{
  text-align: center;
  margin-left: 1px;
  font-size: 25px;
  padding-top: 52px;
  font-family: "Yu Mincho", "YuMincho";
  letter-spacing:  0.2em;
}

.about__page > h3{
  text-align: center;
  margin-left: 1px;
  font-size: 20px;
  padding-top: 50px;
  letter-spacing:  0.2em;
}

.about__page > p{
  text-align: center;
  font-size: 16px;
  padding-top: 50px;
  line-height: 30px;
  letter-spacing:  0.2em;
}

.recruit__menu{
  width: 50%;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid rgba(70,70,70,0.3);
}

.recruit__menu li{
  padding-left: 14px;
  padding-top: 14px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(70,70,70,0.3);
  letter-spacing:  0.2em;
}

@media screen and (min-width:960px){
  .recruit2__img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-image: url("../img/recruit2.png");
    height: 400px;
    width: 84%;
    background-size: cover;
    background-position: 50% 50%;
  }
}

@media screen and (max-width:960px){
  .recruit2__img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-image: url("../img/recruit2.png");
    height: 300px;
    width: 84%;
    background-size: cover;
    background-position: 50% 50%;
  }
}

.recruit__page{
  margin-top: -43px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
  width: 77%;
  background-color: #fff;
}

.recruit__page > h1{
  text-align: center;
  margin-left: 1px;
  padding-top: 65px;
  font-size: 35px;
  padding-bottom: 8px;
  font-family: Microsoft New Tai Lue;
  letter-spacing:  0.2em;
}

.recruit__page > h2{
  text-align: center;
  margin-left: 1px;
  font-size: 25px;
  padding-top: 52px;
  font-family: "Yu Mincho", "YuMincho";
  letter-spacing:  0.2em;
}

.recruit__page > h3{
  text-align: center;
  margin-left: 1px;
  font-size: 20px;
  padding-top: 50px;
  letter-spacing:  0.2em;
}

.recruit__page > p{
  text-align: center;
  font-size: 16px;
  padding-top: 50px;
  line-height: 30px;
  letter-spacing:  0.2em;
}

.page__table{
  width: 100%;
  margin-top: 50px;
  border-top: 1px solid rgba(70,70,70,0.3);
  letter-spacing: 0.2em;
}

.page__table__1{
  height: 50px;
  border-bottom: 1px solid rgba(70,70,70,0.3);
}

.page__table th{
  width: 30%;
  padding-left: 30px;
  text-align: left;
}

.page__table__1 > td{
  padding-left: 30px;
  padding-top: 14px;
  padding-bottom: 15px;
}

.page__table__2{
  height: 50px;
}

.page__table__2 > td{
  padding-left: 30px;
  padding-top: 14px;
  padding-bottom: 15px;
}

.recruit__page__2 > h3{
  text-align: center;
  margin-left: 1px;
  font-size: 20px;
  letter-spacing:  0.2em;
}

@media screen and (min-width:960px){
  .about__img{
    background-image: url("../img/abo.png");
    height: 350px;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
  }
}

@media screen and (max-width:960px){
  .about__img{
    background-image: url("../img/abo.png");
    height: 250px;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
  }
}

@media screen and (min-width:960px){
  .about__menu{
    width: 77%;
    height: 80px;
    margin-top: -22px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-bottom: 1px solid rgba(70,70,70,0.3);
    margin-bottom: 40px;
  }
}

@media screen and (max-width:960px){
  .about__menu{
    width: 84%;
    height: 80px;
    margin-top: -22px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-bottom: 1px solid rgba(70,70,70,0.3);
    margin-bottom: 40px;
  }
}

.about__nav {
  list-style: none;
  display: flex;
}

.about__nav li {
  width: 20%;
  text-align: center;
  margin-top: 29px;
  letter-spacing:  0.2em;
}

.about__nav li a {
  text-decoration: none;
  color: #333;
}


@media screen and (min-width:960px){
  .message__img{
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/message.png");
    margin-top: 100px;
    height: 400px;
    width: 84%;
    background-size: cover;
    background-position: 50% 50%;
  }
}

@media screen and (max-width:960px){
  .message__img{
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/message.png");
    margin-top: 100px;
    height: 300px;
    width: 84%;
    background-size: cover;
    background-position: 50% 50%;
  }
}

.abo__page{
  margin-top: -43px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  width: 77%;
  background-color: #fff;
}

.abo__page > h1{
  text-align: center;
  margin-left: 1px;
  padding-top: 65px;
  font-size: 35px;
  padding-bottom: 8px;
  font-family: Microsoft New Tai Lue;
  letter-spacing:  0.2em;
}

.abo__page > h2{
  text-align: center;
  margin-left: 1px;
  font-size: 25px;
  padding-top: 52px;
  font-family: "Yu Mincho", "YuMincho";
  letter-spacing:  0.2em;
}

@media screen and (min-width:1100px){
  .abo__sentence{
    margin-left: auto;
    margin-right: auto;
    width: 85%;
  }
}

.abo__sentence{
  padding-top: 29px;
}

@media screen and (min-width:960px){
  .abo__sentence p{
    font-size: 16px;
    padding-top: 21px;
    line-height: 30px;
    letter-spacing:  0.2em;
  }
}

@media screen and (max-width:960px){
  .abo__sentence p{
    font-size: 16px;
    padding-top: 21px;
    line-height: 30px;
    letter-spacing:  0.2em;
  }
}

.message__name{
  float: right;
}

.abo__space{
  height: 100px;
}

.abo__border{
  border-bottom: 1px solid rgba(70,70,70,0.3);
  padding-top: 100px;
}

@media screen and (min-width:960px){
  .information__img{
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/information.png");
    margin-top: 100px;
    height: 400px;
    width: 84%;
    background-size: cover;
    background-position: 50% 50%;
  }
}

@media screen and (max-width:960px){
  .information__img{
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/information.png");
    margin-top: 100px;
    height: 300px;
    width: 84%;
    background-size: cover;
    background-position: 50% 50%;
  }
}

.abo__page th{
  width: 23%;
}

.page__table p{
  font-size: 16px;
  line-height: 30px;
  letter-spacing:  0.2em;
}

.page__table__3{
  height: 50px;
}

@media screen and (min-width:1150px){
  .table__menu__1{
    padding-left: 30px;
    padding-top: 14px;
    padding-bottom: 15px;
    width: 40%;
    border-bottom: 1px solid rgba(70,70,70,0.3);
  }
}

@media screen and (max-width:1150px){
  .table__menu__1{
    padding-left: 30px;
    padding-top: 14px;
    padding-bottom: 15px;
    width: 47%;
    border-bottom: 1px solid rgba(70,70,70,0.3);
  }
}

@media screen and (min-width:960px){
  iframe{
    width: 70%;
    height: 350px;
    margin-top: 100px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 50px;
  }
}

@media screen and (max-width:960px){
  iframe{
    width: 100%;
    height: 300px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }
}

.table__menu__2{
  padding-top: 14px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(70,70,70,0.3);
}

.table__menu__3{
  border-bottom: 1px solid rgba(70,70,70,0.3);
}

@media screen and (min-width:960px){
  .contact__img{
    background-image: url("../img/contact.png");
    height: 350px;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
  }
}

@media screen and (max-width:960px){
  .contact__img{
    background-image: url("../img/contact.png");
    height: 250px;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
  }
}

.contact{
  width: 100%;
  margin: 0 auto;
}

.contact table{
  width: 100%;
}

.contact tr{
  border-bottom: 1px solid rgba(70,70,70,0.3);
}

.contact th{
  margin-top: 70px;
  margin-left: 30px;
  float: left;
  font-family:  "ＭＳ ゴシック",sans-serif;
  font-size: 16px;
  letter-spacing:  0.2em;
}

.contact td{
  width: 100%;
  margin-top: 30px;
  margin-left: 40px;
  float: left;
}

.contact td input{
  border: none;
  font-family:  "ＭＳ ゴシック",sans-serif;
  font-size: 16px;
  letter-spacing:  0.2em;
  padding-bottom: 15px;
}

.contact textarea{
  border: none;
  height: 150px;
  width: 70%;
  font-family:  "ＭＳ ゴシック",sans-serif;
  font-size: 16px;
  letter-spacing:  0.2em;
  opacity: 0.5;
}



@media screen and (min-width:960px){
  .privacy__img{
    background-image: url("../img/privacy.png");
    height: 350px;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
  }
}

@media screen and (max-width:960px){
  .privacy__img{
    background-image: url("../img/privacy.png");
    height: 250px;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
  }
}

.privacy__menu{
  width: 100%;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid rgba(70,70,70,0.3);
}

.privacy__menu__1{
  width: 95%;
  padding-left: 26px;
  padding-top: 14px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(70,70,70,0.3);
  line-height: 30px;
  letter-spacing:  0.2em;
}

.privacy__menu__2{
  width: 95%;
  padding-left: 52px;
  padding-top: 14px;
  padding-bottom: 15px;
  letter-spacing:  0.2em;
}

.privacy__menu__3{
  width: 95%;
  padding-left: 52px;
  padding-top: 14px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(70,70,70,0.3);
  letter-spacing:  0.2em;
}
